faiss-cpu
openai
pandas
pdfplumber
PyMuPDF
python-dotenv
jinja2
jsonschema
streamlit
pydantic-settings
typer
streamlit-aggrid==1.1.7
Whoosh-Reloaded
tiktoken
JsonExtractor
openpyxl
st-combobox
azure-storage-blob
azure-identity
bcrypt
extra-streamlit-components