Ik wil graag de geconsolideerde informatie herschrijven voor de vraag: "{{ query }}".

De geconsolideerde informatie is:
{{ consolidated_content }}

Kan je helpen om deze informatie te herschrijven volgens de KME wit-standaarden?